#container {
    height: 100%
}

.card {
    display: inline-block;
}

#map{
    height:50%;
    width:50%;
    margin:40px auto;
    display: inline-block;
    height:200px;

}

html, body {
    background-color: sandybrown;
    height:100%;
}